<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ultratechnology.life_manager.mapper.MoneyMapper">

<!-- Insert one consume data -->
<insert id="addnew" 
parameterType="com.ultratechnology.life_manager.entity.Money" 
useGeneratedKeys="true" 
keyProperty="id">
INSERT INTO money_manager (
date_consumed, year, month, day, weekday, amount, item, 
shop_name, category, payment, notes
) VALUES (
#{date_consumed}, #{year}, #{month}, #{day}, #{weekday}, #{amount}, #{item}, #{shop_name}, #{category},
#{payment}, #{notes}
)
</insert>


<!-- Select all the consume data that exists -->
<select id="findAll" resultType="com.ultratechnology.life_manager.entity.Money">
SELECT 
id, date_consumed, year, month, day, weekday, amount, item, 
shop_name, category, payment, notes
FROM
money_manager
ORDER BY
date_consumed DESC
</select>

<!-- Input a string value of date, and get back the list of money in the selected date -->
<select id="findByDate" parameterType="java.lang.String" resultType="com.ultratechnology.life_manager.entity.Money">
SELECT
id, date_consumed, year, month, day, weekday, amount, item, 
shop_name, category, payment, notes
FROM
money_manager
WHERE
date_consumed=#{selectDate}
</select>

<!-- Input a number indicate the year and the month, and get back the list of money in the selected month -->
<select id="findByMonth" parameterType="java.lang.Integer" resultType="com.ultratechnology.life_manager.entity.Money">
SELECT
id, date_consumed, year, month, day, weekday, amount, item, 
shop_name, category, payment, notes
FROM
money_manager
WHERE
year=#{year} AND month=#{month}
ORDER BY
date_consumed DESC
</select>


<!-- Delete a data with selected id -->
<delete id="delete" parameterType="java.lang.Integer">
DELETE FROM money_manager
WHERE id=#{id}
</delete>




</mapper>